@media only screen and (max-width: 450px) {
    
  .button-container{
    display: block;
  }
  .button-container .download-btn{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1.8rem;
  }
  .button-container #stable-download{
    margin-right: 0;
    margin-bottom: 0.7rem;
  }
  .button-container #beta-download{
    margin-left: 0;
  }
}
@media only screen and (max-width: 360px) {
  .alt-download-text-container{
    font-size: 0.8rem;
  }
}