.container-fluid{
    background-color: #000000;
    color: #FFFFFF;
    overflow: hidden;
}
.container nav{
    width: 100%;
    height: 4rem;
    position: relative;
    background: #000000;
    -webkit-box-shadow: 0px 6px 13px -13px #888888;
    -moz-box-shadow: 0px 6px 13px -13px #888888;
    box-shadow: 0px 6px 13px -13px #888888;
}

.container nav img{
    height: 100%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container nav i{
    font-size: 1.2rem;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 10px;
}
.container nav i:active{
    background: #333333;
}
.solo-title{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #CCCCCC
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.button-container .download-btn{
    padding: 0.5rem;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}
#stable-download{
    background: #04bd34;
    color: #FFFFFF;
    margin-right: 0.5rem;
}
#stable-download:active{
    background: #01631b;
}
#beta-download{
    border: 0px solid orange;
    margin-left: 0.5rem;
    display: none;
}
#beta-download:active{
    background: #888888;
}
.security-verify-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.security-verify-div i{
    color: #04bd34;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}
.security-verify-div a{
    color: #0062ff;
    text-decoration: none;
    margin-left: 0.3rem;
    text-transform: uppercase;
}
.alt-download-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #CBCBCB;
    font-style: italic;
    text-align: center;
}
.alt-download-text-container .alt-download-text-left-div{
    background: #888888;
    height: 1px;
    width: 5rem;
    margin-top: 3px;
    margin-right: 0.5rem;
}
.alt-download-text-container .alt-download-text-right-div{
    background: #888888;
    height: 1px;
    width: 5rem;
    margin-top: 3px;
    margin-left: 0.5rem;
}
.alt-download-btn-div{
    width: 100%;
    margin-bottom: 1rem;
}
.alt-download-btn-div a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.alt-download-btn-div .alt-download-btn{
    padding: 0.4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
}
.thumnail-preview-div{
    width: 100%;
    position: relative;
}
.thumnail-preview-div #prevBtnSlider{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 999;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: #000000;
    color: #FFFFFF;
    transform: translateY(-50%);
}
.thumnail-preview-div #nextBtnSlider{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 999;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: #000000;
    color: #FFFFFF;
    transform: translateY(-50%);
}
.thumnail-preview-div img{
    margin-right: 0.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
}
.faq-div{
    width: 100%;
    margin-top: 2rem;
}
.faq-div .youtube-iframe-div{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.faq-div .youtube-iframe-div iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
footer{
    width: 100%;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px -6px 13px -13px #888888;
    -moz-box-shadow: 0px -6px 13px -13px #888888;
    box-shadow: 0px -6px 13px -13px #888888;
}
footer b a{
    text-decoration: none;
    color: #0062ff;
}